<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<%= htmlWebpackPlugin.options.date %>
<!--遍历htmlWebpackPlugin-->
<% for(key in htmlWebpackPlugin){%>
    <%= key %>
<% } %>
<!--遍历htmlWebpackPlugin.files-->
<% for(key in htmlWebpackPlugin.files){%>
<%= key %>:<%= JSON.stringify(htmlWebpackPlugin.files[key]) %>
<% } %>

<!--遍历htmlWebpackPlugin.options-->
<% for(key in htmlWebpackPlugin.options){%>
<%= key %>:<%= JSON.stringify(htmlWebpackPlugin.options[key]) %>
<% } %>
<!--设置publicPath后的效果-->
</body>
<!--直接引入-->
<script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
<script src="<%= htmlWebpackPlugin.files.chunks.a.entry %>"></script>

</html>